{% extends "home.html" %} {% load crispy_forms_tags %} {% block content %} 
<h1 style="margin: auto; text-align:center;">SignUp Form</h1>
<form method="post" style="width: 75%;margin: auto;">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{form |crispy}}
    <button type="submit" class="btn-primary">Submit</button>
</form>
{%endblock content %}
