<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>This is Home Page</h1>
    <h2>Age: {{age}}</h2>
    <h2>List: {{lst}}</h2>
    <h2>Author :{{Author}}</h2>
  </body>
  {% if age >= 20 and age <= 100 %}
  <h2>You are eligible to watch porn</h2>
  {% elif age >= 15 and age <= 19 %}
  <h2>You are a child, so don't watch porn</h2>
  {% else %}
  <h2>You are a child. Get lost</h2>
  {% endif %} {% for i in courses %}
  <h2>
    Name: {{ i.name }} <br />
    Price: {{ i.price }} <br />
    Author: {{ i.author }}
  </h2>
  {% endfor %} {{lst}}
  <h1>{{ lst | join:" " }}</h1>
  <h1>{{ datetime | date:"D d M Y" }}</h1>
  <h1>{{"Python -is -Fun" | cut:"-"}}</h1>
  <h1>{{ val | length }}</h1>
  <h1>{{ 'Happy coding' | wordcount}}</h1>
</html>
